<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tecsup.inventario"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:icon="@drawable/ic_logo"
        android:label="Inventary" >
        <activity
            android:name=".MainActivity"                      
            android:label="Inventary" >        
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"            
            android:label="Menu" >        
        </activity>
        <activity
            android:name=".ScanActivity"            
            android:label="Scan" >        
        </activity>
        <activity
            android:name=".AyudaActivity"            
            android:label="Ayuda" >        
        </activity>  
        <activity
            android:name="AcercaActivity"            
            android:label="Acerca" >        
        </activity>
        <activity
            android:name="DataActivity"            
            android:label="Data" >        
        </activity>     
        <activity
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="orientation|keyboardHidden"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>   
    </application>	
</manifest>